// Main sass stylesheet
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap')
@use 'stylesheets/main'
$primary-color: #2e13e3aa
$light: #F0F6F1

// Used to have the curson blink
@keyframes blinker
  50%
    opacity: 0

// Used to slide in the landing page 
@keyframes slidein
  from
    margin-left: 100%
    width: 300%
  to
    margin-left: 0%
    width: 100%

  // Bobs the triforce up and down 
@keyframes bob
  0%, 100%
    transform: rotate(180deg) translateY(0%)
  50%
    transform: rotate(180deg) translateY(-15%)
    font-size: 6em
    color: darkgreen

@keyframes pulse
  0%
    background: rgba(0,255,117,1)

  100%
    background: rgb(2,36,0)

@keyframes navHover
  0%, 100%
  50%
    transform: scale(2, 0.5), rotate(0.5turn), skew(30deg, 20deg)
    font-size: 2em
  

.wrapper
  font-family: 'Inconsolata', monospace
  background: black

.home
  display: flex
  flex-direction: column
  margin: auto
  text-align: center
  height: 100vh
  background: rgb(2,36,0)
  background: linear-gradient(51deg, rgba(2,36,0,1) 0%, rgba(9,121,21,1) 62%, rgba(0,255,117,1) 100%)
  background-repeat: no-repeat
  background-size: cover
  animation: slidein 4s 

  p
    padding: 30px
    margin: auto
    color: white
    justify-content: center
    display: float
    font-size: 5em
    text-shadow: 1px 1px 1px #A9A9A9
    opacity: 90%

  .cursor
    width: .5em
    height: 4px
    background-color: white
    float: right
    vertical-align: bottom
    margin-top: 1em
    margin-left: 0px
    animation: blinker 2s linear infinite
    opacity: 85%

  .triforce
    font-size: 4em
    color: white
    align-self: center
    margin-bottom: 15px
    animation: bob 2s infinite

.nav
  position: -webkit-sticky
  position: sticky
  top: 0
  height: 4em
  background: rgb(2,36,0)
  background: linear-gradient(145deg, rgba(2,36,0,1) 0%, rgba(9,121,21,1) 80%, rgba(0,255,117,1) 100%)
  text-align: center
  margin: auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  list-style: none
  a
    text-decoration: none
    color: white
    font-size: 1.5em
    
    &:hover
      animation: navHover infinite linear 1s 
     

.about
  height: 100vh
  background-color: $light

.portfolio
  height: 100vh
  background-color: $light

.education
  height: 100vh
  background-color: $light

.contact
  height: 100vh
  background-color: $light
